@font-face {
    font-family: "Figtree";
    font-weight: 300 900;
    font-style: normal;
    src: 
        url(fonts/Figtree.woff2);
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
    font-family: "Figtree";
    font-size: 62.5%;   /*para em um browser normal 1rem = 10px*/
    background: url(img/fundo_estampa.png) top/cover white;
    --verde: #E3FF3C;
    --cinza: #EAEAEA;
    scroll-behavior:smooth;
}

.container {
    container: pagina / inline-size;
    width: min(100%, 220vh);    /*contaúdo da página fica contido num retangulo central em telas ultra-wide*/
    margin: auto;
    font-size: max(min(1vw,2.2vh), 1rem); /*fonte ajusta ao tamonto da tela, nunca menor que 1rem*/
}

nav {
    position: fixed;
    box-sizing: border-box;
    container-type: inline-size;
    background: white;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: grid;
}

nav > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.menu {
    width: 40cqw;
    aspect-ratio: 8/1;
    left: 50cqw;
    translate: -50%;
    border-radius: 0 0 3cqw 3cqw;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    font-size: 1.5em;
    gap: 2%;
}

.menu a *{
    translate: 0 20%;
}

.sociais {
    width: 4cqw;
    aspect-ratio: 1/2;
    top: 50vh;
    border-radius: 0 1cqw 1cqw 0;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 5%;
}

.sociais > * {
    box-sizing: border-box;
    padding: 20%;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.logo {
    position: absolute;
    width: 15em;
    margin: 2em 2em;
    z-index: 500;
}

#capa {
    container: capa / inline-size;
    min-height: calc(100svh + 3em); /* +3em pra esconder a seta pra baixo */
    overflow: hidden;
    background-image: url(img/fundo_pagina_inicial.png);
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2%;
    align-items: center;
    justify-items: end;
}


.texto_capa {
    color: white;
    font-size: 1.5em;
    font-weight: 300;
}

.titulo {
    font-size: 4em; 
    font-weight: 800;
    margin: 0;
}

.botao_conheca {
    padding: 0.5em 1.5em;
    border-radius: .8em;
    color: black;
    text-decoration: none;
    background-color: white;
}

.imagem_capa {
    width: 90%;
    aspect-ratio: 4/3;
    container-type: inline-size;
    border-radius: 4em 0 4em 4em;
    background-color: var(--verde);
}


.foto_capa {
    position: absolute;
    box-sizing: border-box;
    width: 80%;
    aspect-ratio: 1/1;
    max-height: none;
    max-width: none;
    bottom: -20%;
    right: 10%;
    object-fit: cover;
    border-radius: 50%;
    border: 2cqw solid white;
    box-shadow: 0.5cqw 0.5cqw 2cqw rgba(0, 0, 0, 0.5);
}

.icones > * {
    position: absolute;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: white;
    box-shadow: 0.5cqw 0.5cqw 2cqw rgba(0, 0, 0, 0.5);
}

.icone_carrinho {
    width: 20%;
    top: 20%;
    translate: -50%;
}

.icone_estoque {
    width: 10%;
    left: 55%;
    translate: 0 -50%;
}

.icone_sacola {
    width: 20%;
    left: 90%;
    top: 15%;
}

.rodape_capa {
    height: 1em;
    background: var(--verde);
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}

.rodape_capa > a > img {
    max-height: none;
    max-width: none;
    height: 6em;
    translate: 0 -45%;
}

.pill {
    display: block;
    color: black;
    background-color: var(--verde);
    padding: 0.5em 1em;
    border-radius: 2em;
    text-align: center;
}

#servicos {
    display: block;
    margin-top: 12em;
    width: 100%;
}

#servicos > .pill {
    padding: 0.2em 0.5em;
}

#servicos > h2 {
    width: fit-content;
    margin: auto;
    font-size: 4.5em;
    translate: 0 50%;
}

#servicos > div {
    width: 100%;
    background: var(--cinza);
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.5);
    grid-template-columns: 1;
    box-sizing: border-box;
    padding: 12em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    font-size: 1.1em;
    line-height: 1.5;
}

#servicos h3 {
    font-size: 2.5em;
    margin: 0;
    margin-top: 0.5em;
}

.imagem_servico {
    width: 16em;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 0.5em solid var(--verde);
    border-radius: 0% 50% 50% 25%;
    float: left;
    margin-right: 2em;
}

.direita {
    text-align: right;
}

.direita > .imagem_servico {
    border-radius: 50% 0% 25% 50%;
    float: right;
    margin-left: 2em;
    margin-right: 0;
}

.video {
    display: block;
    max-width: 90%;
    max-height: 90vh;
    border: #E3FF3C solid .5em;
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.5);
    margin-top: 6em;
    margin-bottom: 6em;
    margin-left: auto;
    margin-right: auto;
}

.texto_sobre {
    container-type: inline-size;
    background-color: var(--verde);
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.5);
    margin-top: 6em;
    margin-bottom: 6em;
    text-align: center;
    padding-top: 10em;
    padding-bottom: 10em;
}

.fundo_sobre {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(img/fundo_estampa.png);
    background-size: cover;
    filter: brightness(10%) saturate(0);
}

.texto_sobre > span{
    font-size: 4.5em;
    line-height: 1.5;
}

.rabiscado  {
    background: url(img/rabisco.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0.7em;
}

.destacado {
    border-radius: 2em;
    background-color: black;
    color: var(--verde);
    filter: brightness(1) saturate(1);
    padding: 0.1em;
}

.numeros {
    margin: auto;
    margin-top: 6em;
    margin-bottom: 6em;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-areas: 
    "a a a"
    "b c d";
    gap: 4em;
    align-items: center;
    justify-items: center;
    text-align: right;
    font-weight: 800;
    font-size: 1.2em;
    line-height: 1;
}

.numeros img {
    height: .9em;
    translate: -10% 10%;

}

.numeros > div > h2 {
    font-size: 5em;
    margin: 0;
}

.numeros > :first-child {
    grid-area: a;
    color: var(--verde);
    line-height: .9;
    font-size: 1.5em;
}

.numeros > :first-child > h2{
    font-size: 8em;
    margin: 0;
    color: black;
}

.descubra {
    margin: auto;
    margin-top: 2em;
    width: fit-content;
    font-size: 2.5em;
}

.planos {
    margin-top: 12em;
    display: grid;
    box-sizing: border-box;
    padding: 2em;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 4em;
    font-weight: 300;
    font-size: 1.3em;
}

.planos > div{
    container-type: inline-size;
    height: 100%;
}

.planos > div > span {
    display: block;
    margin: auto;
    margin-bottom: 0.2em;
    text-align: center;
    font-size: 2em;
}

.planos > :nth-child(2){
    translate: 0 -10%;
}

.card_plano {
    width: fit-content;
    box-sizing: border-box;
    padding: 0 1em;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 95%;
    background-color: white;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.5);
}

.card_plano > span {
    height: fit-content;
    padding: 0.5em 0;
    border-bottom: solid black 1px;
}

.card_plano > :nth-last-child(2) {
    border-bottom: none;
}

.card_plano > .pill {
    bottom: 0;
    align-self: center;
    margin: 1.5em;
    margin-top: auto;
}

.card_plano > :first-child {
    text-align: center;
    padding: 0;
    padding-top: 1em;
    margin-bottom: 1.5em;
}

.texto_grande{
    font-size: 3em;
    font-weight: 600;
}

#contato {
    margin-top: 12em;
    background-image: url(img/fundo_pagina_inicial.png);
    padding: 8em;
    color: white;
    font-weight: 600;
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.5);
}

#contato > form {
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

#contato h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0.3em;
}

#contato > form input {
    height: 3em;
    width: 20em;
    font-size: 1em;
    outline: none; 
    box-sizing: border-box;
    border-radius: 0 2em 2em 2em;
    border: none;
    padding: 0.5em;
    margin-bottom: 1em;
}

#contato > form button {
    width: fit-content;
    align-self: center;
    font-size: 1.5em;
    border: none;
    margin-top: 1em;
}

.rodape {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin: 4em;
    justify-items: center;
    font-size: 1.5em;
    font-weight: 300;
}

.rodape img {
    filter: brightness(10%) saturate(0);
    width: 13em;
    padding-bottom: 1em;
    border-bottom: solid black 2px;;
}

.rodape > :nth-child(2) {
    justify-self: stretch;
    border-left: solid black 2px;
    border-right: solid black 2px ;
}

.rodape > :nth-child(2) > div {
    margin: auto;
    width: fit-content;
}

.rodape a {
    line-height: 2;
}

.rodape h4 {
    margin-top: 0;
    margin-bottom: 0.2em;
}

@container pagina (width < 80rem){
    .menu {
        width: 35rem;
        border-radius: 0 0 1.5em 1.5em;
    }

    .sociais {
        width: 4rem;
        border-radius: 0 1em 1em 0;
    }

    .logo {
        margin-top: 5em;
    }

    #capa {
        grid-template-columns: none;
        grid-template-rows: repeat(2, minmax(0, 1fr));
        align-items: start;
        gap: 5em;
    }

    .texto_capa {
        justify-self: center;
        text-align: center;
        margin-top: 6em;
        align-self: end;
        font-size: max(3cqw, 1.3rem);
    }

    #servicos > h2 {
        font-size: 2.5em;
    }

    #servicos > div {
        padding: 12em 1em;
    }

    .imagem_servico {
        float: none;
    }

    .direita .imagem_servico {
        float: none;
    }

    .planos {
        margin-top: 6em;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, minmax(0, 1fr));
    }

    .planos > :nth-child(2){
        translate: 0 0;
    }

    .rodape {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, minmax(0, 1fr));
        margin: 2em;
    }

    .rodape > :nth-child(2) {
        justify-self: stretch;
        border-left: unset;
        border-right: unset ;
    }

}